<h1>Razor Demo, Ex-01</h1>



Goto:
<a asp-controller="RazorDemo" asp-action="index">Back to index</a> |
<a asp-controller="RazorDemo" asp-action="Ex01">Ex-01</a> |
<a asp-controller="RazorDemo" asp-action="Ex02">Ex-02</a> |
<a asp-controller="RazorDemo" asp-action="Ex03">Ex-03</a> |
<a asp-controller="RazorDemo" asp-action="Ex04">Ex-04</a> |