<h1>Account Controller Portal</h1>

<a asp-action="RegisterUser">User Register</a></br>
<a asp-action="LoginUser">User Login</a></br>
<a asp-action="DashBoard">User DashBoard</a></br>
<a asp-action="LogOut">User LogOut</a></br>